# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

*.exe

Exploratory Data Analysis/Case Study/application_data.csv
Exploratory Data Analysis/Case Study/previous_application.csv
CaseStudyAmit.ipynb
*Harnoor.ipynb
Practice/
Deep Learning/Applications of CNN/Working_with_flower_dataset/flowers_dataset.zip
Deep Learning/Applications of CNN/Working_with_flower_dataset/flowers
*.gz
Deep Learning/CNN/Transfer learning/kaggle.json
Deep Learning/CNN/cat.jpg
Deep Learning/Applications of CNN/Working_with_flower_dataset.zip
Deep Learning/Introduction to Neural Networks/mnist.pkl.gz
upStart Learner Handbook.pdf
Deep Learning/Gesture Recognition/Project_data
*.zip
Deep Learning/RNN/POS-tagging/POS tagging Amit.ipynb
Deep Learning/RNN/POS-tagging/GoogleNews-vectors-negative300.bin
Deep Learning/Gesture Recognition/Neural_Nets_Project_Starter_Code_amit.ipynb
Deep Learning/Gesture Recognition/Gesture recognition - Harnoor.ipynb
Projects/EyeForBlind/archive/Images/*.jpg
*.npy
*.jpg
tensorflow/Machine+Learning+A-Z+(Codes+and+Datasets)/
Projects/Stocks/demo.csv
Thesis work/AmitChawla_968609/Topic+Selection+Research_Amit_Chawla_968609.xlsx
Thesis work/AmitChawla_968609/Topic_Submission_Form_Amit_Chawla_968609.docx
Thesis work/Chapters/AmitChawla_968609_Interim -backup/Mid Thesis Amit Chawla-PlagrismReport.pdf
Thesis work/Chapters/methodology.png
Thesis work/Data/demo.csv
Thesis work/Chapters/AmitChawla_968609_Interim -backup/Mid Thesis Amit Chawla.pdf
Thesis work/Chapters/AmitChawla_968609_MidThesis/AmitChawla_MidThesis_Final-Plagrism.pdf
Thesis work/Chapters/AmitChawla_968609_MidThesis/AmitChawla_MidThesis_Final.pdf
Thesis work/Chapters/AmitChawla_968609_MidThesis/Mid Thesis Amit Chawla.docx
Thesis work/Chapters/Final Thesis Amit Chawla.docx
Thesis work/Chapters/literature review summary.xlsx
Thesis work/Chapters/reference quotes.docx
Thesis work/Chapters/References/Final Thesis/Computer Vision/Karthik Aditya Thesis Report.pdf
Thesis work/Chapters/References/Final Thesis/Computer Vision/RashmiJoshi_FinalThesis.pdf
Thesis work/Chapters/References/Final Thesis/Computer Vision/Road_Damage_Detection_using_DL.pdf
Thesis work/Chapters/References/Final Thesis/Computer Vision/Shubham_Patel.pdf
Thesis work/Chapters/References/Final Thesis/Computer Vision/vrunda_bhattbhatt_finalthesis_v4.pdf
Thesis work/Chapters/References/Final Thesis/ML/Chandrani_Mukherjee_Thesis_Report.pdf
Thesis work/Chapters/References/Final Thesis/ML/Comparative+study+of+Time+Series+and+Deep+Learning+Algorithms+for+Stock+price+Prediction_Santosh_Sivapurapu.pdf
Thesis work/Chapters/References/Final Thesis/ML/Final Thesis_Prajwal.pdf
Thesis work/Chapters/References/Final Thesis/ML/FinalThesis_Ovarian Cancer_927688_KhyatiShah.pdf
Thesis work/Chapters/References/Final Thesis/ML/FInalThesisReport_AnilJain_8_1.pdf
Thesis work/Chapters/References/Final Thesis/ML/KoushikDey_FinalDissertation.pdf
Thesis work/Chapters/References/Final Thesis/ML/PadminiChittiThesisReport.pdf
Thesis work/Chapters/References/Final Thesis/ML/Prasanna Venkatesh Jayaprakash_Thesis Final.pdf
Thesis work/Chapters/References/Final Thesis/ML/Sahana_K_Final_Thesis_Report.pdf
Thesis work/Chapters/References/Final Thesis/ML/Sushma_D_Final_Thesis.docx
Thesis work/Chapters/References/Final Thesis/ML/Thesis_Final_Vasundhara.pdf
Thesis work/Chapters/References/Final Thesis/ML/Upendra+Prasad+Thesis+Final+Report.docx
Thesis work/Chapters/References/Final Thesis/NLP/Chetaita_Paul_Final_Report.pdf
Thesis work/Chapters/References/Final Thesis/NLP/Knowledge Graph_Preet.pdf
Thesis work/Chapters/References/Final Thesis/NLP/Ravi_Ranjan_LJMU_Thesis_Paraphrase_Detection_In_Hindi.pdf
Thesis work/Chapters/References/Final Thesis/NLP/Sayan_Banerjee.pdf
Thesis work/Chapters/References/Final Thesis/NLP/Shombeet_Dasgupta.pdf
Thesis work/Chapters/References/Final Thesis/NLP/Suraj_Bhala.pdf
Thesis work/Chapters/References/Final Thesis/NLP/Thesis_TrishulChowdhury.pdf
Thesis work/Chapters/References/Final Thesis/NLP/vasist_thesis.pdf.pdf
Thesis work/Chapters/References/Formatting/1.+Cover+Page+(Mid-Thesis,+and+Thesis).docx
Thesis work/Chapters/References/Formatting/2.+Page+Setup.docx
Thesis work/Chapters/References/Formatting/3.+List+of+Tables.docx
Thesis work/Chapters/References/Formatting/4.+List+of+Figures.docx
Thesis work/Chapters/References/Formatting/5.+List+of+Abbrevations.docx
Thesis work/Chapters/References/Formatting/6.+Body.docx
Thesis work/Code/BSE_metadata.csv
Thesis work/Code/data.csv
Thesis work/Code/Untitled.ipynb
Thesis work/Combination of Facebook Prophet and Attention-Based LSTM with Mul.pdf
Thesis work/Data/Final shortlist.xlsx
Thesis work/neural_prophet/
Thesis work/Papers/08862225.pdf
Thesis work/Papers/1-s2.0-S1877050916311619-main.pdf
Thesis work/Papers/2009_Book_TheElementsOfStatisticalLearni.pdf
Thesis work/Papers/A-Research-On-Bitcoin-Price-Prediction-Using-Machine-Learning-Algorithms.pdf
Thesis work/Papers/A_Comparative_Study_of_Bitcoin_Price_Prediction_Us.pdf
Thesis work/Papers/An AI-oriented Quantitative Investment Platform.pdf
Thesis work/Papers/applsci-10-04872.pdf
Thesis work/Papers/bank.pdf
Thesis work/Papers/Comparitive_study_of_Time_Series_and_Deep_Learning_Algorithms_for_Stock_Price_Prediction.docx
Thesis work/Papers/ComputerVision.pdf
Thesis work/Papers/Covid-19 pandemic data preditctin.pdf
Thesis work/Papers/Data analytics on consumer behavior in omni-channel retail bankin.pdf
Thesis work/Papers/deep learning.pdf
Thesis work/Papers/fbProphet.pdf
Thesis work/Papers/Financial_Time_Series_Forecasting_with_Machine_Lea.pdf
Thesis work/Papers/FinRL A Deep Reinforcement Learning Library.pdf
Thesis work/Papers/Forecasting directional movements of stock prices for intraday trading.pdf
Thesis work/Papers/GoelMittal-StockMarketPredictionUsingTwitterSentimentAnalysis.pdf
Thesis work/Papers/mca-25-00053.pdf
Thesis work/Papers/Mudassir2020_Article_Time-seriesForecastingOfBitcoi.pdf
Thesis work/Papers/Research+Project+Topics+ML.pdf
Thesis work/Papers/ScienceDirect_articles_10Feb2021_18-26-18.982/A-benchmark-study-on-time-series-cluster_2020_Machine-Learning-with-Applicat.pdf
Thesis work/Papers/stock market movement.pdf
Thesis work/Papers/Stock Movement Prediction from Tweets and Historical Prices.pdf
Thesis work/Papers/Stock.pdf
Thesis work/Papers/Stock_Trend_Prediction_Using_News_Sentiment_Analys.pdf
Thesis work/Papers/Time Series Analysis.pdf
Thesis work/Papers/Time series forecasting.pdf
Thesis work/Papers/Time Series Modeling and Forecasting.pdf
Thesis work/Papers/timeseries.pdf
Thesis work/Papers/topics.txt
Thesis work/Problem statement.docx
Thesis work/reference doc.pdf
Thesis work/Research Proposal/GantChartFinal.PNG
Thesis work/Research Proposal/Gantt_Chart_ANN_Stock_Market_Prediction_New.xlsx
Thesis work/Research Proposal/References/ABSTRACT ORDER - 250 WORDS MAX.png
Thesis work/Research Proposal/References/aim-sample.PNG
Thesis work/Research Proposal/References/AIM.PNG
Thesis work/Research Proposal/References/Computer Vision/1_Vrunda_Bhattbhatt_Research_Proposal.pdf
Thesis work/Research Proposal/References/Computer Vision/Research Proposal_Shubham.pdf
Thesis work/Research Proposal/References/Computer Vision/Research Proposal_Submission_Rashmi.pdf
Thesis work/Research Proposal/References/Computer Vision/Road_Damage_Detection_using_DL_Research_Proposal_Lakshmi.pdf
Thesis work/Research Proposal/References/flowsample.jpeg
Thesis work/Research Proposal/References/flowsample2.jpeg
Thesis work/Research Proposal/References/format.jpeg
Thesis work/Research Proposal/References/marking.PNG
Thesis work/Research Proposal/References/ML/Ajitav Sinha_Research Proposal_v1.1.pdf
Thesis work/Research Proposal/References/ML/Khushbuben_Malaviya.pdf
Thesis work/Research Proposal/References/ML/Pratek_Kumar_Research_Proposal.pdf
Thesis work/Research Proposal/References/ML/RavindraSingh_Research_Proposal.pdf
Thesis work/Research Proposal/References/ML/ResearchProposal_Prajwal.pdf
Thesis work/Research Proposal/References/ML/ResearchProposal_Ramya.pdf
Thesis work/Research Proposal/References/ML/ResearchProposal_XAI_FraudDetection_DHRUVKARTIKEY_V3.pdf
Thesis work/Research Proposal/References/ML/Sahana_K_Research_Proposal.pdf
Thesis work/Research Proposal/References/ML/Sidharth Mahapatra Research Proposal V1.3.pdf
Thesis work/Research Proposal/References/NLP/Akarsh_Bachu_ResearchProposal_C-CNN.pdf
Thesis work/Research Proposal/References/NLP/Chetaita_Paul_Research_Proposal.pdf
Thesis work/Research Proposal/References/NLP/Guruprasad HA Proposal - Oct 5th - V3 Turnitin Report.pdf
Thesis work/Research Proposal/References/NLP/Research Proposal - Pawan Kumar.pdf
Thesis work/Research Proposal/References/NLP/Research Proposal by Saurabh Kamal.pdf
Thesis work/Research Proposal/References/NLP/Research Proposal Shombeet_Dasgupta.pdf
Thesis work/Research Proposal/References/NLP/Research_Proposal_document_vasist.pdf
Thesis work/Research Proposal/References/NLP/ResearchProposal_C-CNN.docx
Thesis work/Research Proposal/References/NLP/ResearchProposal_Ruchika.pdf
Thesis work/Research Proposal/References/NLP/ResearchProposal_Trishul_Chowdhury.pdf
Thesis work/Research Proposal/References/NLP/Rohini Chavakula_Research Proposal.pdf
Thesis work/Research Proposal/References/NLP/XAI_Good Proposal.pdf
Thesis work/Research Proposal/References/order.PNG
Thesis work/Research Proposal/References/PageLimits.PNG
Thesis work/Research Proposal/References/related workd.PNG
Thesis work/Research Proposal/References/RESEARCH METHODOLOGY-2.PNG
Thesis work/Research Proposal/References/RESEARCH METHODOLOGY.PNG
Thesis work/Research Proposal/References/Research+Proposal+Template.docx
Thesis work/Research Proposal/References/Research+Proposal.pdf
Thesis work/Research Proposal/References/sample.jpeg
Thesis work/Research Proposal/References/sample2.PNG
Thesis work/Research Proposal/References/STEP5 - SIGNIFICANCE.PNG
Thesis work/Research Proposal/References/STRUCTURE.png
Thesis work/Research Proposal/References/Verbs for Objectives.PNG
Thesis work/Research Proposal/References/WhatsApp Image 2021-02-13 at 6.33.54 PM.jpeg
Thesis work/Research Proposal/References/word limits.PNG
Thesis work/Research Proposal/ResearchProposalAmit-PlagiarismReport.pdf
Thesis work/Research Proposal/ResearchProposalAmit.docx
Thesis work/Research Proposal/ResearchProposalAmit.pdf
Thesis work/Research Proposal/Workflow.drawio
Thesis work/Topics.xlsx
